<div class="row">
	<div class="twelve columns">
	<h6>
	<%= @bus %> @ stop <%= @bus_stop %>
	</h6>
	</div>
		<div class="twelve columns">
			<% unless @times.empty? %>
				<% @times.each_with_index do |time, index| %>
				<% span_class = index == 0 ? "success large right_margin" : "secondary" %>
				<% time =  time.to_i == 0 ? "Approaching" : time %>
				<span class="radius <%= span_class %> label"><%= time %></span>
				<% end %>
			<% else %>
			<span class="radius alert label">No times</span>
			<% end %>
		</div>
</div>


<br/><br/>
Add to:
<form action="/add" method="post" class="custom">
	<select name='page'>
		<% @links.each do |link| %>
		<option value='<%= link %>'><%= link %></option>
		<% end %> 
	</select>
	<label>With the label:</label>
	<input type="text" name="label" placeholder="Label for bus"/>
	<input type="hidden" name="bus" value="<%= @bus %>"/>
	<input type="hidden" name="bus_stop" value="<%= @bus_stop %>"/>
	<input type="submit" value="Submit"/>
</form>